
/* media queries for all devices */
@media (orientation: portrait), (max-resolution: 1024px) {
}


/* small mobile first  */
@media (min-width: 350px) and (max-width: 540px) {
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 12px; /* following the specification for small mobile  */
    }

    .content{
        width: 100%;
        margin-bottom: 20px; 
        flex-wrap: wrap;
        display: flex;
    }

    img {
        width: 100%; /*to make the images responsive*/
        height: auto;
        flex-wrap: wrap;
    }
}

/* large mobile:  */
@media (min-width: 541px) and (max-width: 720px) {
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main {
        padding: 20px;
    }

    .content {
        width: 58%; 
        display: inline-block; /* helps display the columns next to each other */
        margin-bottom: 20px; 
        flex-wrap: wrap;
    }

    img {
        width: 100%;
        height: auto; 
        flex-wrap: wrap;
    }
}

/* tablet section */
@media (min-width: 720px) and (max-width: 1024px) {
    .navigation {
        width: 100%;
        overflow: auto;
        justify-content: center;
        display: flex; /*to use flexbox*/
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .main {
        padding: 30px; 
    }

    img {
        width: 100%; 
        height: auto; 
    }
}


.protest-guerrilla-regular, h1, h2 { /* to assign the font for headings */
    font-family: "Protest Guerrilla";
    font-style: normal;
}      


.josefin-sans, p { /* to assign the font for body */
  font-family: "Josefin Sans", sans-serif; 
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

body {
    background-color: #e9e9e9;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.navigation {
    width: 100%;
    overflow: auto;
    justify-content: center;
    display: flex; /*to use flexbox*/
    margin-top: 50px;
    margin-bottom: 50px;
}
  
  /* navigation links */
  .navigation a {
    text-decoration: none; /* removes the underline from the links */
    text-align: center;
    font-size: 17px;
    color: black; 
    flex: 1; /* to create equal width between the links */
}

.main {
    background-color: white; /* bg color */
    text-align: left; /* align the text on the left */
    justify-content: center; 
    align-items: center;
    margin-left: 13%;/* align the div to be center manually */
    border: 1px solid black; /* color of border as well as the thickness */      
    padding: 50px;
    flex-wrap: wrap;
    max-width: 1500px; /* set a max width for the container */
}

.content{
    padding: 5px;  
    column-count: 3; /* to seperate the main content into 3 different headings */
    flex-wrap: wrap;   
    margin: 50px;  
    height: 1000px; /* set a height */
    column-gap: 5%; /* the space between the columns */
    max-height: 1000px;
}

.mainimage {
    margin-right: 40px;
}

.images {
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    margin-top: -805px;
    margin-left: 250px;
}

.images2 {
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    margin-top: -2px;
}

.author {
    justify-content: center;
    text-align: left; /*to ensure the text is on the left side*/
    margin: 0 auto;
    margin-left: 200px;
    width: 1000px;
}

.author .text {
    text-align: left;
    margin-left: 200px;
    display: flex;
}

/*to adjust the heading in the author div*/
.author h2 {
    text-align: center;
}

.author img {
    justify-content: right;
    margin-left: 1000px;
    margin-top: -110px;
    border-radius: 100%;
}

footer {
    justify-content: center;
    text-align: center;
}

.end {
    margin-top: -300px;
}